@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap');
*,
*:before,
*:after{
    margin: none;
    padding: none;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 3rem;
}

body{
    overflow: hidden;
}

.container{
    width: 100%;
    position: absolute;
    display: flex;
}

.content{
    display: block;
    margin-left: 100px;
    width: auto;
}

.content-p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.side-img{
    margin-top: -20px;
    height: 1000px;
    margin-left: -10px;
    overflow-y: hidden;
}

form{
    width: auto;
}

input{
    justify-content: center;
    width: 550px;
    height: 50px;
    border: none;
    background-color: #F3F3F3;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    /* flex-direction: column; */
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 1.3rem;
}


.username{
    margin-top: 30px;
    position: absolute;
}

.password{
    margin-top: 150px;
}

.forgot-password{
    margin-top: 30px;
    text-align: center;
}

.forgot-password span{
    font-size: 1.1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    line-height: 1rem;
    color: #2D2626;
    transition: all 0.2s ease-in-out;
}

.forgot-password span:hover{
    color: #3fdd2a;
    cursor: pointer;
}

.signin-button{
    text-align: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.signin-button button{
    margin-top: 2.5rem;
    width: 550px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #042100;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.signin-button button:hover{
    color: #3fdd2a;
    transform: scale(1.05)
}

.signin-options p{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.links{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: -25px;
}

.links img{
    height: 2.5rem;
    transition: all 0.2s ease;
}

.links img:hover{
    transform: scale(1.1);
}
.google-img{
    position: absolute;
    margin-left: 55px;
}

.facebook-img{
    position: absolute;
    margin-left: -75px;
}

.apple-img{
    position: absolute;
    margin-left: -10px;
}

.new-signup{
    margin-top: 4rem;
}

.new-signup p{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', sans-serif;
}

.new-signup span, a{
    color: #3fdd2a;
    text-decoration: none;
}


@media screen and (max-width: 1400px) {
    .side-img{
        display: none;
    }

    .content{
        margin: auto;
        width: auto;
    }
    
    body{
        overflow-y: scroll;
    }
}

@media screen and (max-width: 700px){
    input{
        margin: auto 100px;
        width: 50vw;
        margin-left: 100px;
    }

    .signin-button button{
        width: 200px;
    }
    
    .content{
        width: auto;
        margin: auto;
    }

    h1{
        margin: auto;
        font-size: 2rem;
        text-align: center;
    }

    .content-p{
        font-size: 1rem;
    }
}