*{
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
}

nav{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    float: left;
    display: flex;
}
.logo img{
    height: 70px;
    width: 70px;
}

.logo span{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 10px;
    transition: color 0.1s ease;
}

.logo span:hover{
    color: #32c732;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.nav-links li{
    margin: 0 20px;
    padding: 0;
}

.nav-links li a{
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.nav-links li a:hover {
    color: #32c732;
    cursor: pointer;
}

.nav-links li a {
    text-align: center;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
}

nav .burger{
    display: none;
}

nav .burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease 0s;
  }


@media screen and (max-width: 1000px) {
nav .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    font-size: 0.8em;
}

nav .burger {
    opacity: 1;
    display: block;
    cursor: pointer;
}
}

/* nav.active .nav-links {
transform: translateX(0%);
}

nav.active .nav-links li {
opacity: 1;
transition: opacity 0.5s ease-in;
}

nav.active .burger div:first-child {
transform: rotate(45deg) translate(5px, 5px);
}

nav.active .burger div:nth-child(2) {
opacity: 0;
}

nav.active .burger div:last-child {
transform: rotate(-45deg) translate(5px, -5px);
} */
