@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
}

nav{
    background-color: #ffffff;
    /* height: 120px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}


a{
    color: #ffffff;
}

.logo{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.logo img{
    height: 150px;
    /* width: 150px; */
    /* margin-top: 90px; */
    position: relative;
}

.logo span{
    color: #042100;
    font-size: 60px;
    font-weight: 900;
}

.logo span:hover{
    color: #20e320;
}


.ul-links{
    display: flex;
    /* margin-right: 20px; */
}

.ul-links li{
    justify-content: space-between;
}

.ul-links li a{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #042100;
    /* width: 600px; */
    margin: 10px 35px;
}

/* hover */
.ul-links li a:hover{
    color: #4ebb40;
    cursor: pointer;
}

/* active link */
.active{
    /* background-color: #042100; */
    color: #ffffff;
}


.div-nav .ul-links li a:is(:link, :active, :visited) {
    color: #042100;
}

.div-nav .ul-links li a:hover{
    color: #258419;
}

.div-nav .ul-links li a:is(:link, :active, :visited).active {
    background-color: #042100;
    /* border-radius: 10px; */
    color: white;
    padding: 10px;
}

.hamburger{
    display: none;
}


.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease 0s;
}


.container h2{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
}

.profile{
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 28px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 200px;
    margin-top: 100px;
}

.profile h4{
    font-size: 20px;
    font-weight: 500;
    /* padding-top: 30px; */
    display: flex;
    gap: 200px;
    /* padding-left: 260px; */
}


.profile h5{
    font-size: 20px;
    font-weight: 500;
}

.bar{
    margin-top: 50px;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.bar input{
    text-align: center;
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #141714;
    border-radius: 12px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
}


.button-container{
    padding-top: 50px;
    /* padding-left: 30px; */
}

.button-container button{
    padding: 10px 40px;
    background-color: #042100;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.div{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    /* justify-self: center; */
    align-items: flex-start;
    flex-direction: row;
    padding: 15px;
    gap: 5px;
    margin-top: 50px;
}

.div h5{
    line-height: 19px;
    padding-left: 50px;
    width: 800px;
}

.button{
    padding-top: 50px;
    margin-left: 100px;
}

.div button{
    padding: 10px 40px;
    background-color: #042100;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.image{
    position: absolute;
    top: 200px;
    left: 1400px;
    height: 800px;
}

@media (max-width: 477px) {
    nav{
        background-color: #ffffff;
        /* height: 120px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    a{
        color: #ffffff;
    }
    .logo{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }
    .logo img{
        height: 60px;
        position: relative;
    }
    .logo span{
        color: #042100;
        font-size: 15px;
        font-weight: 800;
        /* width: 500px; */
    }
    .div-nav .ul-links{
        display: none;
    }
    .div-nav .ul-links.active{
        position: fixed;
        height: 100vh;  
        width: 100vw;
        flex-direction: column;
        left: 0;
        right: 0;
        text-align: center;
        top: 70px;
        /* bottom: -0px; */
        /* justify-content: space-between; */
        transition: 0.2s;
        background: #f5f3f3;
        display: block;
    }
    .div-nav .ul-links li{
        display: block;
        margin: 80px auto 0  auto;
    }
    .hamburger{
        opacity: 1;
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
    }


    .container h2{
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
        /* text-align: center; */
        line-height: 28px;
    }
    .profile{
        text-align: left;
        display: flex;
        flex-direction: column;
        line-height: 28px;
        align-items: flex-start;
        margin-top: 50px;
        padding: 0;
        margin-left: 10px;
    }
    .profile h4{
        font-size: 16px;
        font-weight: 500;
    }
    .profile h5{
        font-size: 16px;
        font-weight: 500;
    }
    .bar{
        margin-top: 50px;
        align-items: center;
        flex-direction: row;
        display: flex;
    }
    .bar input{
        /* margin: 0; */
        text-align: center;
        width: 300px;
        height: 60px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 1px solid #141714;
        border-radius: 12px;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: #1E1E1E;
        margin-left: -6px;
    }
    .button-container{
        padding-top: 50px;
        margin-left: 7px;
        /* padding-left: 30px; */
    }
    .button-container button{
        padding: 10px 40px;
        background-color: #042100;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        border-radius: 20px;
        cursor: pointer;
    }
    .div{
        font-size: 13px;
        font-weight: 500;
        margin-top: 50px;
        width: 200px;
        margin-left: -80px;
    }
    .div h5{
        line-height: 19px;
        width: 370px;
    }
    .button{
        /* padding-top: 50px; */
        text-align: center;
    }
    .div button{
        /* padding: 10px 50px; */
        background-color: #042100;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        border-radius: 12px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        width: 280px;
        bottom: 0;
    }
    
    .image{
        display: none;
    }

}

/* For tablet/ipads */
@media (min-width: 600px) and (max-width: 999px) {
    .image{
        display: none;
    }
    nav{
        background-color: #ffffff;
        /* height: 120px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    a{
        color: #ffffff;
    }
    .logo{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .logo img{
        height: 60px;
        /* width: 150px; */
        /* margin-top: 90px; */
        position: relative;
    }
    
    .logo span{
        color: #042100;
        font-size: 20px;
        font-weight: 800;
        width: 130px;
    }
    
    .logo span:hover{
        color: #20e320;
    }
    
    .ul-links{
        display: flex;
        gap: 5px;
}
    .div-nav .ul-links li a:is(:link, :active, :visited) {
        color: #042100;
    }
    .div-nav .ul-links li a:hover{
        color: #258419;
    }
    .div-nav .ul-links li a:is(:link, :active, :visited).active {
        background-color: #042100;
        /* border-radius: 10px; */
        color: white;
        padding: 20px;
    }
    .div-nav .ul-links li{
        margin-right: 10px;
        width: 70px;
        gap: 0.2px;
        /* margin-left: -2px; */
    }
    .div-nav .ul-links li a{
        /* text-align: center; */
        font-weight: 700;
        font-size: 10px;
        color: #042100;
        margin: 5px 5px;
        /* justify-content: space-between; */
    }
    .container h2{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
        line-height: 28px;
    }
    .profile{
        text-align: left;
        display: flex;
        flex-direction: column;
        line-height: 28px;
        align-items: flex-start;
        padding: 0;
        margin-left: 50px;
    }
    .profile h4{
        font-size: 18px;
        font-weight: 500;
    }
    .profile h5{
        font-size: 18px;
        font-weight: 500;
    }
    .bar{
        margin-top: 50px;
        align-items: center;
        flex-direction: row;
        display: flex;
    }
    .bar input{
        /* margin: 0; */
        text-align: center;
        /* width: 400px; */
        height: 60px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 1px solid #141714;
        border-radius: 12px;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: #1E1E1E;
        margin-left: -6px;
    }
    .button-container{
        padding-top: 50px;
        margin-left: 7px;
        /* padding-left: 30px; */
    }
    .button-container button{
        padding: 10px 40px;
        background-color: #042100;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        border-radius: 20px;
        cursor: pointer;
    }
    .div{
        font-size: 12px;
        font-weight: 500;
        margin-top: 50px;
        margin-left: -50px;
        text-align: center;
        position: relative;
    }
    .div h5{
        line-height: 19px;
        width: 570px;
    }

}