*{
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
}

nav{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    float: left;
    display: flex;
}
.logo img{
    height: 70px;
    width: 70px;
}

.logo span{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 10px;
    transition: color 0.1s ease;
}

.logo span:hover{
    color: #32c732;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin: 0 20px;
    padding: 0;
}

.nav-links li a{
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.nav-links li a:hover {
    color: #32c732;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 955px) {
nav {
flex-direction: column;
height: auto;
}

.logo {
margin-bottom: 15px;
}

.nav-links {
display: none;
width: 100%;
flex-direction: column;
}

.nav-links li {
margin: 0;
}

.nav-links li a {
text-align: center;
padding: 10px;
display: block;
border-bottom: 1px solid #f2f2f2;
}

.nav-links li:last-child a {
border-bottom: none;
}

.menu-icon {
display: block;
cursor: pointer;
}
    }