<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>password_reset_email</title>
  </head>
  <body>
    {% autoescape off %} To initiate the password reset process for your {{
    user.get_username }} TestSite Account, click the link below: {{ protocol
    }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    If clicking the link above doesn't work, please copy and paste the URL in a
    new browser window instead. Sincerely, The TestSite Team {% endautoescape %}
  </body>
</html>
